@import "tailwindcss";


@theme {
  --font-jakartaSans: "Plus Jakarta Sans", sans-serif; 
   --font-interSans: "Inter", sans-serif;
   --color-cc: #475569;
   --color-linearC: #FF5722,#D81B7E,#7C3AED
}